# -----------------------------
# ENV
.env
.env.*

# -----------------------------
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Mac / OS files
.DS_Store
__MACOSX/

# -----------------------------
# Logs
*.log

# -----------------------------
# Database
*.db
*.sqlite3

# -----------------------------
# Zip / archives
*.Z

# -----------------------------
# Build / frontend
build/
dist/

# -----------------------------
# Virtual environment
venv/
.venv/

# -----------------------------
# IDE
.vscode/
.idea/